#drawer{
	-fx-background-color: transparent;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 5, 0, 0, 0);
	-fx-pref-width: 40;
}
#drawer .scroll-pane{
   -fx-background-color:#384b63;
}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
.drawer_button{
	-fx-padding: 4 8;
	-fx-border-style: none;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-background-radius: 0;
    -fx-cursor: hand;
    -fx-background-color: transparent;
}
.drawer_button:hover{
	-fx-background-color: derive(#384b63, -10%);
}