#page_header{
	-fx-background-color: #84a9ac;
}
#breadcrumb{
	-fx-background-radius: 18 18 18 18;
	-fx-background-color: derive(#84a9ac, 30%);
}
#back_button, #reload_button{
	-fx-background-radius: 18 18 18 18;
	-fx-background-color: #84a9ac;
	-fx-padding: 0 0 0 0;
}
#back_button:hover, #reload_button:hover{
	-fx-background-color: derive(#84a9ac, 30%);
}

.text-field{
	-fx-background-color: transparent;
	-fx-border-radius: 5 5 5 5;
	-fx-border-width: 1 1 2 1;
	-fx-border-color: derive(#84a9ac, 70%);
}
.text-area{
	-fx-background-insets: 0;
	-fx-background-color: transparent;
}
.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
    -fx-border-radius: 0;
	-fx-border-width: 0;
}
.text-area .scroll-pane .content{
	-fx-background-color: transparent;
	-fx-border-width: 0;
}
.text-area .scroll-pane{
	-fx-background-color: transparent;
	-fx-border-radius: 5 5 5 5;
	-fx-border-color: derive(#84a9ac, 70%);
	-fx-border-width: 1 1 2 1;
}
.scroll-bar:vertical{
    -fx-background-color:transparent;
    -fx-pref-width:8;
}
.scroll-bar:horizontal{
    -fx-background-color:transparent;
    -fx-pref-height:8;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: derive(#84a9ac, 70%);
    -fx-background-radius: 4;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: transparent;
    -fx-shape: " ";	
	-fx-padding:0;
}

.scroll-bar > .corner {
	-fx-pref-height:0;
	-fx-shape: " ";	
	-fx-padding:0;
    -fx-background-color: transparent;
}

.scroll-pane{
	-fx-background-color:transparent;
	-fx-border-color: transparent;
}
.cancel_button{
	-fx-pref-height:28;
	-fx-background-radius:14;
	-fx-background-color: #f66;
	-fx-text-fill: #fff;
	-fx-padding: 0 10 0 8;
}
.submit_button{
	-fx-pref-height:28;
	-fx-background-radius:14;
	-fx-background-color: #7c5;
	-fx-text-fill: #fff;
	-fx-padding: 0 10 0 8;
}