.root{
	-fx-principal-color: #6ee2cb;
	-fx-second-color: #384b63;
}

#header{
	-fx-background-color: #fff;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 5, 0, 0, 0);
}
#drawer{
	-fx-background-color: -fx-principal-color;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 5, 0, 0, 0);
	-fx-pref-width: 160;
}
.scroll-pane{
   -fx-background-color:transparent;
}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
.drawer_toggler{
	-fx-border-style: none;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.drawer_button{
	-fx-padding: 4 8;
	-fx-border-style: none;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-background-radius: 0;
    -fx-cursor: hand;
    -fx-background-color: -fx-principal-color;
}
.drawer_button:hover{
	-fx-background-color: derive(-fx-principal-color, -5%);
}